body{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.page_title{
  height: 15%;
  width: 100%;
  display: flex;
}

.page_title h1{
  margin: auto;
  color: #F03A47;
  font-family: "Play", sans-serif;
  font-size: 45px;
}

.page_title span{
  color: #fff;
}

.score_container{
  width: 100%;
  height: 30%;
  display: flex;
}

.score_container h2{
  margin: auto;
  font-family: "Play", sans-serif;
  color: #F03A47;
  font-size: 40px;
}

.switcher_score_container{
  height: 40%;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.switcher_container{
  margin: auto;
  height: 30%;
  width: 40%;
  display: flex;
}

.switcher_score{
  margin: auto;
  height: 100%;
  width: 60%;
  display: flex;
}

.selector{
  margin: auto;
  height: 100%;
  width: 20%;
  background-color: red;
  border-radius: 8px;
}

.switcher_score h3{
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-family: "Play", sans-serif;
  font-weight: bold;
}
