body{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.page_title{
  height: 15%;
  width: 100%;
  display: flex;
}

.page_title h1{
  margin: auto;
  color: #F03A47;
  font-family: "Play", sans-serif;
  font-size: 40px;
}

.page_title span{
  color: #fff;
}

.score_container{
  margin: auto;
  width: 100%;
  height: 10%;
  display: flex;
}

.score_container h2{
  margin: auto;
  font-family: "Play", sans-serif;
  color: #F03A47;
  font-size: 40px;
}

.switcher_score_container{
  height: 35%;
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.switcher_container{
  margin: auto;
  height: 30%;
  width: 85%;
  display: flex;
}

.switcher_score{
  margin: auto;
  height: 100%;
  width: 60%;
  display: flex;
  background-color: #253644;
}

.selector-right{
  display: flex;
  margin: auto;
  height: 100%;
  width: 20%;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: #253644;
}

.selector-right img{
  margin: auto;
  width: 31px;
  transform: rotate(-90deg);
}

.selector-left img{
  margin: auto;
  width: 31px;
  transform: rotate(90deg);
}

.selector-left{
  display: flex;
  margin: auto;
  height: 100%;
  width: 20%;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: #253644;
}

.switcher_score input{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -o-appearance: none;
  border: none;
  width: 100px;
  text-align: center;
  background-color: #253644;
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-family: "Play", sans-serif;
  font-weight: bold;
}

.switcher_validate{
  margin: auto;
  width: 80%;
  height: 25%;
  display: flex;
}

.switcher_validate input{
  margin: auto;
  width: 150px;
  height: 45px;
  background-color: #43C02C;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 26px;
}

.final_validate{
  height: 25%;
  width: 85%;
  margin: auto;
  display: flex;
}

.final_validate input{
  margin: auto;
  width: 190px;
  height: 55px;
  background-color: #F03A47;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 26px;
}

@media screen and (min-width: 425px){

  .final_validate input{
    width: 210px;
  }

  .switcher_validate input{
    width: 180px;
  }

  .selector-right img{
    width: 35px;
  }

  .selector-left img{
    width: 35px;
  }

  .switcher_score_container{
    width: 350px;
  }
}

@media screen and (min-width: 768px){

  .switcher_score_container{
    width: 450px;
  }
}
