
.wrapper_activite{
  min-height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 5%;
}

.container_activite{
  height: 150px;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #253644;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 2%;
  border-radius: 8px;
}

.container_activite h2{
  margin: auto 15px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 35px;
}

.container_activite h6{
  margin: auto 15px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 25px;
}
