body{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.page_title{
  height: 15%;
  width: 100%;
  display: flex;
}

.page_title h1{
  margin: auto;
  color: #F03A47;
  font-family: "Play", sans-serif;
  font-size: 40px;
}

.page_title span{
  color: #fff;
}

.score_container{
  margin: auto;
  width: 100%;
  height: 10%;
  display: flex;
}

.score_container h2{
  margin: auto;
  font-family: "Play", sans-serif;
  color: #F03A47;
  font-size: 40px;
}

.switcher_score_container{
  height: 35%;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.switcher_container{
  margin: auto;
  height: 30%;
  width: 85%;
  display: flex;
}

.switcher_score{
  margin: auto;
  height: 100%;
  width: 60%;
  display: flex;
  background-color: #253644;
}

.selector-right{
  display: flex;
  margin: auto;
  height: 100%;
  width: 20%;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: #253644;
}

.selector-right img{
  margin: auto;
  width: 70%;
  transform: rotate(-90deg);
}

.selector-left img{
  margin: auto;
  width: 70%;
  transform: rotate(90deg);
}

.selector-left{
  display: flex;
  margin: auto;
  height: 100%;
  width: 20%;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: #253644;
}

.switcher_score h3{
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-family: "Play", sans-serif;
  font-weight: bold;
}

.switcher_validate{
  margin: auto;
  width: 80%;
  height: 25%;
  display: flex;
}

.switcher_validate input{
  margin: auto;
  width: 75%;
  height: 60%;
  background-color: #43C02C;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 26px;
}

.final_validate{
  height: 20%;
  width: 85%;
  margin: auto;
  display: flex;
}

.final_validate input{
  margin: auto;
  width: 80%;
  height: 40%;
  background-color: #F03A47;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 26px;
}
