
.wrapper_activite{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 25%;
}

.container_activite{
  height: 150px;
  min-height: 150px;
  min-width: 80%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #253644;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 2%;
  border-radius: 8px;
}

.container_activite h2{
  margin: auto 15px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 35px;
}

.container_activite h6{
  margin: auto 15px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 600px){

  .wrapper_activite{
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 600px){

  .wrapper_activite{
    padding-bottom: 10%;
  }
}
