*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body, main{
  width: 100%;
  height: 100%;
}

.page_title{
  height: 15%;
  width: 100%;
  display: flex;
}

.page_title h1{
  margin: auto;
  color: #F03A47;
  font-family: "Play", sans-serif;
  font-size: 45px;
}

.page_title span{
  color: #fff;
}

.wrapper_leaderBoard{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30%;
}

.container_equipe{
  height: 160px;
  width: 95%;
  display: flex;
  background-color: #1E2E3B;
  margin: 0px auto;
  padding: 2%;
}

.container_icon{
  height: 100%;
  width: 25%;
  display: flex;
}

.container_icon img{
  margin: auto;
  height: 40%;
  width: 95%;
}

.container_information{
  height: 100%;
  width: 60%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.container_information h2{
  margin: auto 0px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 28px;
}

.container_information p{
  margin: auto 0px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 18px;
}

.container_score{
  height: 100%;
  width: 30%;
  display: flex;
}

.container_score h5{
  margin: auto;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 425px){

  .page_title h1{
    font-size: 55px;
  }
  .container_information h2{
    font-size: 30px;
  }

  .container_information p{
    font-size: 25px;
  }

  .container_score h5{
    font-size: 28px;
  }

  .container_icon img{
    height: 55%;
  }

  .wrapper_leaderBoard{
    padding-bottom: 25%;
  }

}

@media screen and (min-width: 640px){

  .container_icon img{
    height: 65%;
  }

  .container_equipe{
    height: 200px;
  }

  .wrapper_leaderBoard{
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 768px){

  .page_title h1{
    font-size: 65px;
  }

  .container_information h2{
    font-size: 35px;
  }

  .container_information p{
    font-size: 30px;
  }

  .container_score h5{
    font-size: 32px;
  }

  .container_icon img{
    height: 80%;
  }

  .wrapper_leaderBoard{
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 1024px){

  .container_icon img{
    height: 80%;
    width: 60%;
  }

  .wrapper_leaderBoard{
    padding-bottom: 10%;
  }
}

@media screen and (min-width: 1200px){

  .page_title h1{
    font-size: 75px;
  }

  .container_information h2{
    font-size: 40px;
  }

  .container_information p{
    font-size: 32px;
  }

  .container_score h5{
    font-size: 35px;
  }
}

@media screen and (min-width: 1700px){

  .page_title h1{
    font-size: 115px;
  }

  .container_information h2{
    font-size: 70px;
  }

  .container_information p{
    font-size: 52px;
  }

  .container_score h5{
    font-size: 55px;
  }

  .container_icon img{
    height: 90%;
    width: 70%;
  }

  .container_equipe{
    height: 280px;
  }
}
